{{!-- ApplicationV2-Bestätigungsdialog. --}}
<div class="gothic-tales gt-dialog gt-confirm-dialog">
  <div class="gt-dialog-content">{{{content}}}</div>
  <footer class="gt-dialog-actions">
    <button type="button" class="gt-confirm-no"><i class="fas fa-xmark"></i> {{noLabel}}</button>
    <button type="button" class="gt-confirm-yes"><i class="fas fa-check"></i> {{yesLabel}}</button>
  </footer>
</div>
